In [249]:
import pandas as pd

In [250]:
event_df = pd.read_excel("PREPARED DATA\Ambulance_Trauma_Care_Data.xlsx", sheet_name = "EVENTLOG")

In [251]:
event_df.shape

(156059, 9)

In [252]:
resp_df = pd.read_excel("PREPARED DATA\Ambulance_Trauma_Care_Data.xlsx", sheet_name = "RESPONSETIME")

In [253]:
resp_df.shape

(61810, 17)

In [254]:
event_df.head()

,SL,EVENT_ID,CALL_TIME,CALL_TYPE,STATUS,CHIEF_COMPLAINT,HOSPITAL_NAME,PRIORITY,VEHICLE
0,1,CFS11521116,2020-12-10 07:59:55,CFS Call,At Scene,Deployement,NaN,Medium,B-74
1,2,CFS11521115,2020-12-10 07:59:16,CFS Call,Patient Not Available,Delivery,NaN,High,S-10
2,3,CFS11521114,2020-12-10 07:59:15,CFS Call,At Scene,Deployement,NaN,Medium,B-118
3,4,CFS11521113,2020-12-10 07:58:33,CFS Call,At Scene,Deployement,NaN,Medium,B-117
4,5,TST11521112,2020-12-10 07:58:14,Test Call,Not Available,Fracture,Gtb Hospital Dilshad Garden,High,NaN

In [255]:
event_df.tail()

,SL,EVENT_ID,CALL_TIME,CALL_TYPE,STATUS,CHIEF_COMPLAINT,HOSPITAL_NAME,PRIORITY,VEHICLE
156054,156055,WRG11500108,2020-12-06 08:01:29,Wrong Call,Not Available,NaN,NaN,NaN,NaN
156055,156056,BLK11500107,2020-12-06 08:01:13,Blank Call,Not Available,NaN,NaN,NaN,NaN
156056,156057,CFS11500106,2020-12-06 08:01:11,CFS Call,Hand Over,Deployement,NaN,Medium,B-74
156057,156058,BLK11500105,2020-12-06 08:00:50,Blank Call,Not Available,NaN,NaN,NaN,NaN
156058,156059,CFS11500104,2020-12-06 08:00:33,CFS Call,Hand Over,Deployement,NaN,Medium,B-118

In [256]:
event_df.shape

(156059, 9)

In [257]:
event_df.isnull().sum()[event_df.isnull().sum()>0]

CHIEF_COMPLAINT    103367
HOSPITAL_NAME      130408
PRIORITY           102525
VEHICLE            117964
dtype: int64

In [258]:
event_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156059 entries, 0 to 156058
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SL               156059 non-null  int64
 1   EVENT_ID         156059 non-null  object
 2   CALL_TIME        156059 non-null  datetime64[ns]
 3   CALL_TYPE        156059 non-null  object
 4   STATUS           156059 non-null  object
 5   CHIEF_COMPLAINT  52692 non-null   object
 6   HOSPITAL_NAME    25651 non-null   object
 7   PRIORITY         53534 non-null   object
 8   VEHICLE          38095 non-null   object
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 10.7+ MB

In [259]:
event_df.head()

,SL,EVENT_ID,CALL_TIME,CALL_TYPE,STATUS,CHIEF_COMPLAINT,HOSPITAL_NAME,PRIORITY,VEHICLE
0,1,CFS11521116,2020-12-10 07:59:55,CFS Call,At Scene,Deployement,NaN,Medium,B-74
1,2,CFS11521115,2020-12-10 07:59:16,CFS Call,Patient Not Available,Delivery,NaN,High,S-10
2,3,CFS11521114,2020-12-10 07:59:15,CFS Call,At Scene,Deployement,NaN,Medium,B-118
3,4,CFS11521113,2020-12-10 07:58:33,CFS Call,At Scene,Deployement,NaN,Medium,B-117
4,5,TST11521112,2020-12-10 07:58:14,Test Call,Not Available,Fracture,Gtb Hospital Dilshad Garden,High,NaN

In [260]:
#event_df["date"] = pd.to_datetime(event_df["date"])

In [261]:
event_df.head()

,SL,EVENT_ID,CALL_TIME,CALL_TYPE,STATUS,CHIEF_COMPLAINT,HOSPITAL_NAME,PRIORITY,VEHICLE
0,1,CFS11521116,2020-12-10 07:59:55,CFS Call,At Scene,Deployement,NaN,Medium,B-74
1,2,CFS11521115,2020-12-10 07:59:16,CFS Call,Patient Not Available,Delivery,NaN,High,S-10
2,3,CFS11521114,2020-12-10 07:59:15,CFS Call,At Scene,Deployement,NaN,Medium,B-118
3,4,CFS11521113,2020-12-10 07:58:33,CFS Call,At Scene,Deployement,NaN,Medium,B-117
4,5,TST11521112,2020-12-10 07:58:14,Test Call,Not Available,Fracture,Gtb Hospital Dilshad Garden,High,NaN

In [262]:
li = ["CALL_TYPE", "STATUS", "CHIEF_COMPLAINT", "HOSPITAL_NAME" , "PRIORITY"]

In [263]:
for i in li:
    print("--------"+i+"------------")
    print()
    print(event_df[i].unique())
    print()
    print("unique vaues: ",event_df[i].nunique())
    print()

--------CALL_TYPE------------

['CFS Call' 'Test Call' 'Blank Call' 'Follow up' 'Missed Call'
 'Wrong Call' 'Enquiry Call' 'Department Call' 'Appreciation Call'
 'Crank Call']

unique vaues:  10

--------STATUS------------

['At Scene' 'Patient Not Available' 'Not Available' 'Closed By Operator'
 'On Route' 'Enroute' 'Hand Over' 'Reached' 'Dispatch Failed'
 'Delivery Pending' 'Dispatched' 'Abandoned By Operator' 'Pending']

unique vaues:  13

--------CHIEF_COMPLAINT------------

['Deployement' 'Delivery' 'Fracture' nan 'Others' 'Cancer' 'Stabbing'
 'Assault' 'Fire' 'Abdominal Pain' 'Chest pain' 'Dialysis' 'spine problem'
 'Fall From Height' 'Interhospital Transfer' 'Accident RTA' 'Paralysis'
 'B P Issue' 'Breathing Difficulty' 'Head Injury'
 'Animal bitesInsect bites' 'Vomiting' 'No need of ambulance' 'T B'
 'Unconscious' 'Heart Attack' 'sexual Abuse' 'High Grade Fever' 'Suicide'
 'Seizures' 'Group Clash' 'Psychiatric Problem' 'Asthama' 'Burns'
 'Penetrating Trauma Stab' 'Drug Over dose' 'Jaundice' 'Eye problem'
 'Diabetic problem' 'Gunshot' 'Gynecological problem' 'Severe Headache'
 'Traumatic Injury' 'Post Delivery Drop back to at Home'
 'Corona suspected' 'Epileptic seizure' 'Drowning' 'Electric Shock'
 'Post delivery PV Bleed' 'Poisoning' 'Mock Drill' 'Allergic reaction'
 'Severe Back pain' 'Hypothermia' 'Hanging' 'Dengue' 'Building Collapse'
 'Train Related Accident' 'corona virus' 'Choking' 'Haemorrhage'
 'Industrial Accidents' 'Bomb Blast' 'Riot' 'Heat Stroke'
 'call refused due to Amb NA' 'Demolition']

unique vaues:  66

--------HOSPITAL_NAME------------

[nan 'Gtb Hospital Dilshad Garden' 'Sgm Hospital Mangolpuri'
 'Bsa Hospital Rohini' 'Safdarjang Hospital Ansari Nagar' 'Rml Hospital'
 'Aiims Ansari Nagar' 'Dduh Hari Nagar' 'Mb Hospital Pooth Khurd'
 'Rajiv Gandhi Super Speciality Hospital Tahir Pur'
 'Gb Pant Hospital Delhi Gate' 'Dada Dev Hospital Dabri'
 'LNJP Hospital Delhi Gate' 'Max Superspecialty Hospital Patparganj'
 'Maulana Azad Dental Hospital Delhi Gate' 'Bm Hospital Pitampura'
 'Rtr Hospital Jaffar Pur' 'Hindu Rao Hospital' 'Cnbc Geeta Colony'
 'Ihbas Shahdra' 'Mmm Hospital Malviya Nagar' 'Lbs Hospital Khichri Pur'
 'Srhc Hospital Narela' 'JEEWAN HOSPITAL KAROL BAGH'
 'Ggs Hospital Raghubir Nagar' 'Bjrm Hospital Jahangir Puri'
 'Kalawati Saran Cildren Hospital'
 'Max Superspecialty Hospital Shalimar Bagh'
 'Bl Kapoor Hospital Pusa Road' 'Lhmc Hospital' 'AIIMS Trauma Centre'
 'Jpc Hospital Shastri Park' 'AB Hospital Moti Nagar'
 'Holy Family Hospital' 'Metro Hospital Lajpat Nagar'
 'Esi Hospital Bsai Darapur' 'SDN Hospital' 'ESI HOSPITAL OKHLA'
 'Rbtb Hospital' 'Nirmal Chaya Hari Ngar' 'Batra Hospital  Sangam Vihar'
 'HOME' 'Svbp Hospital Patel Nagar' 'Saroj Hospital Rohini'
 'Kasturba Gandhi Hospital' 'Aaa Govt Hospital Rajpur Road'
 'Shri Balaji Action Medical Institute' 'Stc' 'Gn Eye Hospital'
 'Metro Hospital And Cancer Institute Preet Vihar' 'HOME DISCHARGE'
 'Max Hospital Saket' 'Tb Hospital Mehrauli' 'MANIPAL HOSPITAL DWARKA'
 'ESI HOSPITAL JHILMIL' 'Pushpawati Singhania Research Institute'
 'Ilbs Hospital Vasant Kunj' 'Jaipur Golden Hospital'
 'SONIA HOSPITAL NAGLOI' 'Janakpuri Super Speciality Hospital'
 'Hedgewar Hospital Karkardooma' 'Fortis Hospital Shalimar Bagh'
 'AMBEDKAR NAGAR HOSPITAL DAKSHINPURI' 'ESI Hospital Rohini'
 'Primus Superspecialty Hospital Chankya Puri' 'Moolchand Hospital'
 'VIKAS HOSPITAL NAJAFGARH' 'Base Hospital Delhi Cantt'
 'Delhi State Cancer Hospital Dilshad Garden' 'Metro Hospital'
 'Fortis Hospital Aruna Asaf Ali Road Vasant Kunj'
 'Indian Spinal Injury Institute' 'MAHARAJA AGARSEN HOSPITAL DWARKA'
 'deep chand bandhu hospital' 'Sir Ganga Ram Hospital'
 'Indraprastha Apollo Hospital'
 'VimhansMental Health And Neurosciences Nehru Nagar'
 'BALA SAHIB GURUDWARA Dialysis CENTRE SARAI KALE KHAN'
 'SHREE AGGARSAIN HOSPITAL ROHINI SEC22' 'Rr Hospital Delhi Cantt'
 'Mata Chanan Devi Hospital Janak Puri'
 'Delhi Heart And Lung Institute Heart Care' 'Jeevan Anmol Hospital'
 'MATERNITY CENTER KHICHRIPUR' 'Maharaja Agarsen Hospital Punjabi Bagh'
 'Phc Najafgarh' 'St Stephen Hospital' 'Charak Palika Hospital'
 'Dcb Hospital Ashok Vihar' 'CENTRAL RAILWAY HOSPITAL CANNAUGHT PALACE'
 'Centre For Sight Rajouri GardenEye Care'
 'Shanti Mukund Hospital Vikas Marg'
 'Rajeev Gandhi Cancer Institute Rohini' 'BHAGWATI HOSPITAL SEC15 ROHINI'
 'Tirath Ram Shah Hospital' 'KAPIL HOSPITAL NATHUPURA BURARI'
 'BRAHM SHAKTI HOSPITAL BUDH VIHAR'
 'Max Super Speciality Hospital Patparganj' 'PARK HOSPITAL KESHOPUR DEPOT'
 'Ashadeep Narella' 'Vbp Chest Institute'
 'Max Superspecialty Hospital Saket' 'Max Hospital Pitampura'
 'AKASH HOSPITAL DWARKA' 'Venkateshwar Hospital Dwarka'
 'Delhi Cantonment General Hospital' 'Asha Kiran Rohini'
 'Fortis Escorts Heart Institute Okhla Road'
 'Veer Sawarkar Hospital Karawal Nagar'
 'Dharamshila Cancer Hospital And Research Centre'
 'Central Jail Hospital Jail Road Hari Nagar' 'Sant Parmanand Hospital'
 'Rockland Hospital Qutub Institutional Area' 'Ayushman Hospital'
 'AGRASEN HOSPITAL NARELA' 'RATHI HOSPITAL NAJAFGARH ROAD RANHOLA'
 'MATERNITY CENTER JWALAPURI' 'Kalra Hospital Kirti Nagar' 'Rlkc Hospital'
 'Delhi State Cancer Hospital Janakpuri' 'MATERNITY HOME SRI NIWASPURI'
 'MGS HOSPITAL PUNJABI BAGH' 'Not Shifted' 'SATYA BHAMA HOSPITAL NAGLOI'
 'Deepak Memorial Hospital Vikas Marg' 'Burari Hospital'
 'Rg Stone Clinic-Gagan Vihar Urology' 'Poor House Hospital Gtb Nagar'
 'MATERNITY HOME VISHNU GARDEN' 'National Heart Institute East Of Kailash'
 'INDIRA GANDHI HOSPITAL SEC9 DWARKA' 'Old age Home Bindapur'
 'Old age Home Rohini' 'Radha Swami Covid Centre'
 'Chandi wala Maternity center Shahadra'
 'Cbp  Ayurvedic Hospital Khera Dabar' 'BMGUPTA HOSPITAL UTTAM NAGAR'
 'Other' 'MUNI MAYA RAM HOSPITAL PITAMPURA'
 'GIRDHAR LAL Maternity HOSPITAL AJMERI GATE'
 'Rg Stone Clinic-Pitampura Urology' 'SIGNUS HOSPITAL RAMA VIHAR KARALA']

unique vaues:  141

--------PRIORITY------------

['Medium' 'High' nan 'Emergency' 'Low']

unique vaues:  4

In [264]:
event_df.groupby("PRIORITY")["EVENT_ID"].count()

PRIORITY
Emergency     5486
High         16381
Low           7104
Medium       24563
Name: EVENT_ID, dtype: int64

In [265]:
event_df.groupby("PRIORITY")["EVENT_ID"].count().sum()

53534

In [266]:
import numpy as np

In [267]:
wrong_df = event_df[(event_df["CALL_TYPE"] == "Wrong Call")]

In [268]:
wrong_df.shape

(10536, 9)

In [269]:
wrong_df.isnull().sum()[wrong_df.isnull().sum() > 0]

CHIEF_COMPLAINT    10461
HOSPITAL_NAME      10524
PRIORITY           10454
VEHICLE            10536
dtype: int64

In [270]:
event_df.isnull().sum()[event_df.isnull().sum()> 0]

CHIEF_COMPLAINT    103367
HOSPITAL_NAME      130408
PRIORITY           102525
VEHICLE            117964
dtype: int64

In [271]:
variable_to_predict = ["CHIEF_COMPLAINT", "HOSPITAL_NAME", "PRIORITY", "VEHICLE"]

In [272]:
 wrong_df.shape

(10536, 9)

In [273]:
wrong_notnull = wrong_df[(wrong_df["PRIORITY"].notnull()) | (wrong_df["CHIEF_COMPLAINT"].notnull()) | (wrong_df["HOSPITAL_NAME"].notnull()) | (wrong_df["VEHICLE"].notnull())]

In [274]:
nor_wrong_df = event_df[event_df["CALL_TYPE"] != "Wrong Call"]

In [275]:
nor_wrong_df.head()

,SL,EVENT_ID,CALL_TIME,CALL_TYPE,STATUS,CHIEF_COMPLAINT,HOSPITAL_NAME,PRIORITY,VEHICLE
0,1,CFS11521116,2020-12-10 07:59:55,CFS Call,At Scene,Deployement,NaN,Medium,B-74
1,2,CFS11521115,2020-12-10 07:59:16,CFS Call,Patient Not Available,Delivery,NaN,High,S-10
2,3,CFS11521114,2020-12-10 07:59:15,CFS Call,At Scene,Deployement,NaN,Medium,B-118
3,4,CFS11521113,2020-12-10 07:58:33,CFS Call,At Scene,Deployement,NaN,Medium,B-117
4,5,TST11521112,2020-12-10 07:58:14,Test Call,Not Available,Fracture,Gtb Hospital Dilshad Garden,High,NaN

In [276]:
nor_wrong_df.shape

(145523, 9)

In [277]:
nor_wrong_df.isnull().sum()[nor_wrong_df.isnull().sum() > 0]

CHIEF_COMPLAINT     92906
HOSPITAL_NAME      119884
PRIORITY            92071
VEHICLE            107428
dtype: int64

In [278]:
no_wrong_not_null = nor_wrong_df[(nor_wrong_df["PRIORITY"].notnull()) | (nor_wrong_df["CHIEF_COMPLAINT"].notnull()) | (nor_wrong_df["HOSPITAL_NAME"].notnull()) | (nor_wrong_df["VEHICLE"].notnull())]

In [279]:
no_wrong_not_null.head()

,SL,EVENT_ID,CALL_TIME,CALL_TYPE,STATUS,CHIEF_COMPLAINT,HOSPITAL_NAME,PRIORITY,VEHICLE
0,1,CFS11521116,2020-12-10 07:59:55,CFS Call,At Scene,Deployement,NaN,Medium,B-74
1,2,CFS11521115,2020-12-10 07:59:16,CFS Call,Patient Not Available,Delivery,NaN,High,S-10
2,3,CFS11521114,2020-12-10 07:59:15,CFS Call,At Scene,Deployement,NaN,Medium,B-118
3,4,CFS11521113,2020-12-10 07:58:33,CFS Call,At Scene,Deployement,NaN,Medium,B-117
4,5,TST11521112,2020-12-10 07:58:14,Test Call,Not Available,Fracture,Gtb Hospital Dilshad Garden,High,NaN

In [280]:
no_wrong_not_null.shape

(53928, 9)

In [281]:
resp_df.shape

(61810, 17)

In [282]:
resp_df.head()

,SL,EVENT_ID,CALL_TYPE,VEHICLE,DISTRICT,CALL_TIME,VEHICLE_MOVEMENT_TIME,VEHICLE_ATSCENE_TIME,RESPONSE_TIME,RESPONSE_DURATION,AMBULANCE_BASE_LOCATION,INCIDENT_LOCATION,NUM_OF_PATIENTS,PATIENT_HOSPITAL,EMERGENCY_TYPE,HANDOVER_TIME,HANDOVER_DURATION
0,1,TST11515684,Test Call,null / null,South West,2020-12-09 08:01:07,NaT,NaT,NaN,NaN,0,Palam Extn Part I,0,NaN,Fracture,NaT,NaN
1,2,TST11515692,Test Call,null / null,NaN,2020-12-09 08:03:26,NaT,NaT,NaN,NaN,0,NaN,0,NaN,Delivery,NaT,NaN
2,3,TST11515693,Test Call,null / null,South West,2020-12-09 08:03:31,NaT,NaT,NaN,NaN,0,Dwarka Sector 27,0,NaN,Fracture,NaT,NaN
3,4,TST11515696,Test Call,null / null,North West,2020-12-09 08:03:47,NaT,NaT,NaN,NaN,0,Kirari Extn,0,NaN,Delivery,NaT,NaN
4,5,TST11515698,Test Call,null / null,NaN,2020-12-09 08:04:15,NaT,NaT,NaN,NaN,0,NaN,0,Aiims Ansari Nagar,Fracture,NaT,NaN

In [283]:
resp_df.isnull().sum()

SL                             0
EVENT_ID                       0
CALL_TYPE                      0
VEHICLE                        0
DISTRICT                   31603
CALL_TIME                      0
VEHICLE_MOVEMENT_TIME      23925
VEHICLE_ATSCENE_TIME       24100
RESPONSE_TIME              24100
RESPONSE_DURATION          24100
AMBULANCE_BASE_LOCATION        0
INCIDENT_LOCATION          31617
NUM_OF_PATIENTS                0
PATIENT_HOSPITAL           36159
EMERGENCY_TYPE              9118
HANDOVER_TIME              38096
HANDOVER_DURATION          38096
dtype: int64

In [284]:
merged_df = pd.merge(left = resp_df, right=event_df,  how="inner", on="EVENT_ID")

In [285]:
resp_no_null = no_wrong_not_null.append(wrong_notnull)

In [286]:
resp_no_null.shape

(54017, 9)

In [287]:
 check_df = resp_no_null["EVENT_ID"].isin(merged_df["EVENT_ID"]).to_frame().reset_index()

In [288]:
check_df[check_df["EVENT_ID"] == False]

        index  EVENT_ID
17533   50069     False
41607  120057     False

In [289]:
resp_no_null.loc[50069, "EVENT_ID"]

'CFS11525835'

In [290]:
resp_no_null.loc[120057, "EVENT_ID"]

'CFS11577335'

In [291]:
extrct_df = resp_no_null[(resp_no_null["EVENT_ID"] == 'CFS11525835') | (resp_no_null["EVENT_ID"] == 'CFS11577335')]

In [292]:
merged_df.head()

,SL_x,EVENT_ID,CALL_TYPE_x,VEHICLE_x,DISTRICT,CALL_TIME_x,VEHICLE_MOVEMENT_TIME,VEHICLE_ATSCENE_TIME,RESPONSE_TIME,RESPONSE_DURATION,...,HANDOVER_TIME,HANDOVER_DURATION,SL_y,CALL_TIME_y,CALL_TYPE_y,STATUS,CHIEF_COMPLAINT,HOSPITAL_NAME,PRIORITY,VEHICLE_y
0,1,TST11515684,Test Call,null / null,South West,2020-12-09 08:01:07,NaT,NaT,NaN,NaN,...,NaT,NaN,5515,2020-12-09 08:01:07,Test Call,Not Available,Fracture,NaN,High,NaN
1,2,TST11515692,Test Call,null / null,NaN,2020-12-09 08:03:26,NaT,NaT,NaN,NaN,...,NaT,NaN,5507,2020-12-09 08:03:26,Test Call,Not Available,Delivery,NaN,High,NaN
2,3,TST11515693,Test Call,null / null,South West,2020-12-09 08:03:31,NaT,NaT,NaN,NaN,...,NaT,NaN,5506,2020-12-09 08:03:31,Test Call,Not Available,Fracture,NaN,High,NaN
3,4,TST11515696,Test Call,null / null,North West,2020-12-09 08:03:47,NaT,NaT,NaN,NaN,...,NaT,NaN,5502,2020-12-09 08:03:47,Test Call,Not Available,Delivery,NaN,High,NaN
4,5,TST11515698,Test Call,null / null,NaN,2020-12-09 08:04:15,NaT,NaT,NaN,NaN,...,NaT,NaN,5500,2020-12-09 08:04:15,Test Call,Not Available,Fracture,Aiims Ansari Nagar,High,NaN

In [293]:
merged_df.head()

,SL_x,EVENT_ID,CALL_TYPE_x,VEHICLE_x,DISTRICT,CALL_TIME_x,VEHICLE_MOVEMENT_TIME,VEHICLE_ATSCENE_TIME,RESPONSE_TIME,RESPONSE_DURATION,...,HANDOVER_TIME,HANDOVER_DURATION,SL_y,CALL_TIME_y,CALL_TYPE_y,STATUS,CHIEF_COMPLAINT,HOSPITAL_NAME,PRIORITY,VEHICLE_y
0,1,TST11515684,Test Call,null / null,South West,2020-12-09 08:01:07,NaT,NaT,NaN,NaN,...,NaT,NaN,5515,2020-12-09 08:01:07,Test Call,Not Available,Fracture,NaN,High,NaN
1,2,TST11515692,Test Call,null / null,NaN,2020-12-09 08:03:26,NaT,NaT,NaN,NaN,...,NaT,NaN,5507,2020-12-09 08:03:26,Test Call,Not Available,Delivery,NaN,High,NaN
2,3,TST11515693,Test Call,null / null,South West,2020-12-09 08:03:31,NaT,NaT,NaN,NaN,...,NaT,NaN,5506,2020-12-09 08:03:31,Test Call,Not Available,Fracture,NaN,High,NaN
3,4,TST11515696,Test Call,null / null,North West,2020-12-09 08:03:47,NaT,NaT,NaN,NaN,...,NaT,NaN,5502,2020-12-09 08:03:47,Test Call,Not Available,Delivery,NaN,High,NaN
4,5,TST11515698,Test Call,null / null,NaN,2020-12-09 08:04:15,NaT,NaT,NaN,NaN,...,NaT,NaN,5500,2020-12-09 08:04:15,Test Call,Not Available,Fracture,Aiims Ansari Nagar,High,NaN

In [294]:
extrct_df.head()

,SL,EVENT_ID,CALL_TIME,CALL_TYPE,STATUS,CHIEF_COMPLAINT,HOSPITAL_NAME,PRIORITY,VEHICLE
50069,50070,CFS11525835,2020-12-11 01:20:17,CFS Call,Pending,NaN,NaN,High,NaN
120057,120058,CFS11577335,2020-12-21 07:59:20,CFS Call,Not Available,Others,Srhc Hospital Narela,Medium,NaN

In [295]:
extrct_df.columns = ["SL_y","EVENT_ID","CALL_TIME_y", "CALL_TYPE_y", "STATUS", "CHIEF_COMPLAINT", "HOSPITAL_NAME", "PRIORITY", "VEHICLE_y"]

In [296]:
merged_df.shape

(65673, 25)

In [297]:
merged_df = merged_df.append(extrct_df)

In [298]:
merged_df.shape

(65675, 25)

In [299]:
merged_df.isnull().sum()

SL_x                           2
EVENT_ID                       0
CALL_TYPE_x                    2
VEHICLE_x                      2
DISTRICT                   32469
CALL_TIME_x                    2
VEHICLE_MOVEMENT_TIME      23938
VEHICLE_ATSCENE_TIME       24127
RESPONSE_TIME              24127
RESPONSE_DURATION          24127
AMBULANCE_BASE_LOCATION        2
INCIDENT_LOCATION          32485
NUM_OF_PATIENTS                2
PATIENT_HOSPITAL           37929
EMERGENCY_TYPE              9120
HANDOVER_TIME              39541
HANDOVER_DURATION          39541
SL_y                           0
CALL_TIME_y                    0
CALL_TYPE_y                    0
STATUS                         0
CHIEF_COMPLAINT             9119
HOSPITAL_NAME              37928
PRIORITY                    8277
VEHICLE_y                  23716
dtype: int64

In [300]:
merged_df.drop(columns=["SL_x",        
"CALL_TYPE_x","VEHICLE_x", "CALL_TIME_x", "SL_y"], inplace= True)

In [301]:
merged_df.head()

,EVENT_ID,DISTRICT,VEHICLE_MOVEMENT_TIME,VEHICLE_ATSCENE_TIME,RESPONSE_TIME,RESPONSE_DURATION,AMBULANCE_BASE_LOCATION,INCIDENT_LOCATION,NUM_OF_PATIENTS,PATIENT_HOSPITAL,EMERGENCY_TYPE,HANDOVER_TIME,HANDOVER_DURATION,CALL_TIME_y,CALL_TYPE_y,STATUS,CHIEF_COMPLAINT,HOSPITAL_NAME,PRIORITY,VEHICLE_y
0,TST11515684,South West,NaT,NaT,NaN,NaN,0.0,Palam Extn Part I,0.0,NaN,Fracture,NaT,NaN,2020-12-09 08:01:07,Test Call,Not Available,Fracture,NaN,High,NaN
1,TST11515692,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,NaN,Delivery,NaT,NaN,2020-12-09 08:03:26,Test Call,Not Available,Delivery,NaN,High,NaN
2,TST11515693,South West,NaT,NaT,NaN,NaN,0.0,Dwarka Sector 27,0.0,NaN,Fracture,NaT,NaN,2020-12-09 08:03:31,Test Call,Not Available,Fracture,NaN,High,NaN
3,TST11515696,North West,NaT,NaT,NaN,NaN,0.0,Kirari Extn,0.0,NaN,Delivery,NaT,NaN,2020-12-09 08:03:47,Test Call,Not Available,Delivery,NaN,High,NaN
4,TST11515698,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,Aiims Ansari Nagar,Fracture,NaT,NaN,2020-12-09 08:04:15,Test Call,Not Available,Fracture,Aiims Ansari Nagar,High,NaN

In [302]:
#merged_df = merged_df.reset_index(drop= True)

In [303]:
merged_df

,EVENT_ID,DISTRICT,VEHICLE_MOVEMENT_TIME,VEHICLE_ATSCENE_TIME,RESPONSE_TIME,RESPONSE_DURATION,AMBULANCE_BASE_LOCATION,INCIDENT_LOCATION,NUM_OF_PATIENTS,PATIENT_HOSPITAL,EMERGENCY_TYPE,HANDOVER_TIME,HANDOVER_DURATION,CALL_TIME_y,CALL_TYPE_y,STATUS,CHIEF_COMPLAINT,HOSPITAL_NAME,PRIORITY,VEHICLE_y
0,TST11515684,South West,NaT,NaT,NaN,NaN,0.0,Palam Extn Part I,0.0,NaN,Fracture,NaT,NaN,2020-12-09 08:01:07,Test Call,Not Available,Fracture,NaN,High,NaN
1,TST11515692,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,NaN,Delivery,NaT,NaN,2020-12-09 08:03:26,Test Call,Not Available,Delivery,NaN,High,NaN
2,TST11515693,South West,NaT,NaT,NaN,NaN,0.0,Dwarka Sector 27,0.0,NaN,Fracture,NaT,NaN,2020-12-09 08:03:31,Test Call,Not Available,Fracture,NaN,High,NaN
3,TST11515696,North West,NaT,NaT,NaN,NaN,0.0,Kirari Extn,0.0,NaN,Delivery,NaT,NaN,2020-12-09 08:03:47,Test Call,Not Available,Delivery,NaN,High,NaN
4,TST11515698,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,Aiims Ansari Nagar,Fracture,NaT,NaN,2020-12-09 08:04:15,Test Call,Not Available,Fracture,Aiims Ansari Nagar,High,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65670,CFS11505778,NaN,2021-10-02 07:59:52.203,2021-10-02 08:28:41,00:28:49,1785.0,0.0,NaN,0.0,NaN,Deployement,NaT,NaN,2020-12-07 07:58:56,CFS Call,At Scene,Deployement,NaN,Medium,A-22
65671,CFS11505773,Shahdara,2021-10-02 08:01:16.590,2021-10-02 08:20:54,00:19:38,1416.0,0.0,Pocket A,0.0,NaN,Others,NaT,NaN,2020-12-07 07:57:18,CFS Call,At Scene,Others,NaN,Medium,S-5
65672,CFS11505779,NaN,2021-10-02 08:00:24.437,2021-10-02 08:00:27,00:00:03,49.0,0.0,NaN,0.0,NaN,Deployement,NaT,NaN,2020-12-07 07:59:38,CFS Call,At Scene,Deployement,NaN,Medium,A-28
50069,CFS11525835,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2020-12-11 01:20:17,CFS Call,Pending,NaN,NaN,High,NaN
120057,CFS11577335,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2020-12-21 07:59:20,CFS Call,Not Available,Others,Srhc Hospital Narela,Medium,NaN

In [304]:
merged_df.shape

(65675, 20)

In [305]:
merged_df.isnull().sum()[merged_df.isnull().sum() > 0]

DISTRICT                   32469
VEHICLE_MOVEMENT_TIME      23938
VEHICLE_ATSCENE_TIME       24127
RESPONSE_TIME              24127
RESPONSE_DURATION          24127
AMBULANCE_BASE_LOCATION        2
INCIDENT_LOCATION          32485
NUM_OF_PATIENTS                2
PATIENT_HOSPITAL           37929
EMERGENCY_TYPE              9120
HANDOVER_TIME              39541
HANDOVER_DURATION          39541
CHIEF_COMPLAINT             9119
HOSPITAL_NAME              37928
PRIORITY                    8277
VEHICLE_y                  23716
dtype: int64

In [306]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65675 entries, 0 to 120057
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EVENT_ID                 65675 non-null  object
 1   DISTRICT                 33206 non-null  object
 2   VEHICLE_MOVEMENT_TIME    41737 non-null  datetime64[ns]
 3   VEHICLE_ATSCENE_TIME     41548 non-null  datetime64[ns]
 4   RESPONSE_TIME            41548 non-null  object
 5   RESPONSE_DURATION        41548 non-null  float64
 6   AMBULANCE_BASE_LOCATION  65673 non-null  float64
 7   INCIDENT_LOCATION        33190 non-null  object
 8   NUM_OF_PATIENTS          65673 non-null  float64
 9   PATIENT_HOSPITAL         27746 non-null  object
 10  EMERGENCY_TYPE           56555 non-null  object
 11  HANDOVER_TIME            26134 non-null  datetime64[ns]
 12  HANDOVER_DURATION        26134 non-null  float64
 13  CALL_TIME_y              65675 non-null  datetime64[ns]
 14  CALL_TYPE_y              65675 non-null  object
 15  STATUS                   65675 non-null  object
 16  CHIEF_COMPLAINT          56556 non-null  object
 17  HOSPITAL_NAME            27747 non-null  object
 18  PRIORITY                 57398 non-null  object
 19  VEHICLE_y                41959 non-null  object
dtypes: datetime64[ns](4), float64(4), object(12)
memory usage: 10.5+ MB

In [307]:
merged_df["RESPONSE_TIME"].isnull().sum()

24127

In [308]:
merged_df["RESPONSE_TIME"].dtype

dtype('O')

In [309]:
pat = "^([0-1]?\d|2[0-3])(?::([0-5]?\d))?(?::([0-5]?\d))?$"

In [310]:
merged_df["RESPONSE_TIME"][~ merged_df["RESPONSE_TIME"].astype("str").str.contains(pat=pat, regex=True)]

C:\Users\Habi\AppData\Local\Temp/ipykernel_7824/3478896569.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  merged_df["RESPONSE_TIME"][~ merged_df["RESPONSE_TIME"].astype("str").str.contains(pat=pat, regex=True)]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
64312     NaN
64812     NaN
65661     NaN
50069     NaN
120057    NaN
Name: RESPONSE_TIME, Length: 24127, dtype: object

In [311]:
#merged_df[merged_df["time"] == "six"]

In [312]:

import datetime
six= datetime.time(6, 00, 00)
twelve = datetime.time(12, 00, 00)
eigteen = datetime.time(18, 00, 00)
twentyfour = datetime.time(23, 59, 59)

In [313]:
merged_df[["call_date", "call_time"]] = merged_df["CALL_TIME_y"].astype("str").str.split(" ", expand= True)
#merged_df.drop(columns=["call_date", "call_time"], inplace = True)

In [314]:
merged_df.head()

,EVENT_ID,DISTRICT,VEHICLE_MOVEMENT_TIME,VEHICLE_ATSCENE_TIME,RESPONSE_TIME,RESPONSE_DURATION,AMBULANCE_BASE_LOCATION,INCIDENT_LOCATION,NUM_OF_PATIENTS,PATIENT_HOSPITAL,...,HANDOVER_DURATION,CALL_TIME_y,CALL_TYPE_y,STATUS,CHIEF_COMPLAINT,HOSPITAL_NAME,PRIORITY,VEHICLE_y,call_date,call_time
0,TST11515684,South West,NaT,NaT,NaN,NaN,0.0,Palam Extn Part I,0.0,NaN,...,NaN,2020-12-09 08:01:07,Test Call,Not Available,Fracture,NaN,High,NaN,2020-12-09,08:01:07
1,TST11515692,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,NaN,...,NaN,2020-12-09 08:03:26,Test Call,Not Available,Delivery,NaN,High,NaN,2020-12-09,08:03:26
2,TST11515693,South West,NaT,NaT,NaN,NaN,0.0,Dwarka Sector 27,0.0,NaN,...,NaN,2020-12-09 08:03:31,Test Call,Not Available,Fracture,NaN,High,NaN,2020-12-09,08:03:31
3,TST11515696,North West,NaT,NaT,NaN,NaN,0.0,Kirari Extn,0.0,NaN,...,NaN,2020-12-09 08:03:47,Test Call,Not Available,Delivery,NaN,High,NaN,2020-12-09,08:03:47
4,TST11515698,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,Aiims Ansari Nagar,...,NaN,2020-12-09 08:04:15,Test Call,Not Available,Fracture,Aiims Ansari Nagar,High,NaN,2020-12-09,08:04:15

In [315]:
merged_df["call_time"] = pd.to_datetime(merged_df["call_time"]).dt.time
#merged_df[event_df["call_date"] != "2020-12-10"]

In [316]:
merged_df[merged_df["call_time"] < six]

,EVENT_ID,DISTRICT,VEHICLE_MOVEMENT_TIME,VEHICLE_ATSCENE_TIME,RESPONSE_TIME,RESPONSE_DURATION,AMBULANCE_BASE_LOCATION,INCIDENT_LOCATION,NUM_OF_PATIENTS,PATIENT_HOSPITAL,...,HANDOVER_DURATION,CALL_TIME_y,CALL_TYPE_y,STATUS,CHIEF_COMPLAINT,HOSPITAL_NAME,PRIORITY,VEHICLE_y,call_date,call_time
759,BLK11520303,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,NaN,...,NaN,2020-12-10 00:02:22,Blank Call,Not Available,NaN,NaN,NaN,NaN,2020-12-10,00:02:22
760,WRG11520306,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,NaN,...,NaN,2020-12-10 00:02:45,Wrong Call,Not Available,NaN,NaN,NaN,NaN,2020-12-10,00:02:45
761,FUP11520309,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,NaN,...,NaN,2020-12-10 00:04:17,Follow up,Not Available,NaN,NaN,NaN,NaN,2020-12-10,00:04:17
762,FUP11520318,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,NaN,...,NaN,2020-12-10 00:06:08,Follow up,Not Available,NaN,NaN,High,NaN,2020-12-10,00:06:08
763,ENQ11520325,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,Aiims Ansari Nagar,...,NaN,2020-12-10 00:08:05,Enquiry Call,Not Available,NaN,Aiims Ansari Nagar,NaN,NaN,2020-12-10,00:08:05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65605,CFS11505536,South East,2021-10-02 06:04:32.027,2021-10-02 06:04:47,00:00:15,434.0,0.0,Nagli Rajapur,0.0,NaN,...,8856.0,2020-12-07 05:57:33,CFS Call,Hand Over,Dialysis,NaN,Emergency,S-16,2020-12-07,05:57:33
65606,CFS11505536,South East,2021-10-02 06:04:32.027,2021-10-02 06:04:47,00:00:15,434.0,0.0,Nagli Rajapur,0.0,NaN,...,8856.0,2020-12-07 05:57:33,CFS Call,Patient Not Available,Dialysis,NaN,Emergency,S-21,2020-12-07,05:57:33
65607,CFS11505537,North East,2021-10-02 06:01:45.000,2021-10-02 06:19:57,00:18:12,1316.0,0.0,Harijan Basti,0.0,NaN,...,6900.0,2020-12-07 05:58:01,CFS Call,Hand Over,Dialysis,NaN,Emergency,B-38,2020-12-07,05:58:01
65608,CFS11505538,NaN,2021-10-02 06:03:00.863,2021-10-02 06:25:37,00:22:37,1652.0,0.0,NaN,0.0,Bsa Hospital Rohini,...,7547.0,2020-12-07 05:58:05,CFS Call,Hand Over,High Grade Fever,Bsa Hospital Rohini,Low,N-30,2020-12-07,05:58:05
50069,CFS11525835,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2020-12-11 01:20:17,CFS Call,Pending,NaN,NaN,High,NaN,2020-12-11,01:20:17

In [317]:
merged_df[(merged_df["call_time"]  >= six) & (merged_df["call_time"]  < twelve)]

,EVENT_ID,DISTRICT,VEHICLE_MOVEMENT_TIME,VEHICLE_ATSCENE_TIME,RESPONSE_TIME,RESPONSE_DURATION,AMBULANCE_BASE_LOCATION,INCIDENT_LOCATION,NUM_OF_PATIENTS,PATIENT_HOSPITAL,...,HANDOVER_DURATION,CALL_TIME_y,CALL_TYPE_y,STATUS,CHIEF_COMPLAINT,HOSPITAL_NAME,PRIORITY,VEHICLE_y,call_date,call_time
0,TST11515684,South West,NaT,NaT,NaN,NaN,0.0,Palam Extn Part I,0.0,NaN,...,NaN,2020-12-09 08:01:07,Test Call,Not Available,Fracture,NaN,High,NaN,2020-12-09,08:01:07
1,TST11515692,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,NaN,...,NaN,2020-12-09 08:03:26,Test Call,Not Available,Delivery,NaN,High,NaN,2020-12-09,08:03:26
2,TST11515693,South West,NaT,NaT,NaN,NaN,0.0,Dwarka Sector 27,0.0,NaN,...,NaN,2020-12-09 08:03:31,Test Call,Not Available,Fracture,NaN,High,NaN,2020-12-09,08:03:31
3,TST11515696,North West,NaT,NaT,NaN,NaN,0.0,Kirari Extn,0.0,NaN,...,NaN,2020-12-09 08:03:47,Test Call,Not Available,Delivery,NaN,High,NaN,2020-12-09,08:03:47
4,TST11515698,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,Aiims Ansari Nagar,...,NaN,2020-12-09 08:04:15,Test Call,Not Available,Fracture,Aiims Ansari Nagar,High,NaN,2020-12-09,08:04:15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65669,CFS11505776,NaN,2021-10-02 07:59:12.950,2021-10-02 07:59:33,00:00:21,70.0,0.0,NaN,0.0,NaN,...,NaN,2020-12-07 07:58:23,CFS Call,At Scene,Deployement,NaN,Medium,A-19,2020-12-07,07:58:23
65670,CFS11505778,NaN,2021-10-02 07:59:52.203,2021-10-02 08:28:41,00:28:49,1785.0,0.0,NaN,0.0,NaN,...,NaN,2020-12-07 07:58:56,CFS Call,At Scene,Deployement,NaN,Medium,A-22,2020-12-07,07:58:56
65671,CFS11505773,Shahdara,2021-10-02 08:01:16.590,2021-10-02 08:20:54,00:19:38,1416.0,0.0,Pocket A,0.0,NaN,...,NaN,2020-12-07 07:57:18,CFS Call,At Scene,Others,NaN,Medium,S-5,2020-12-07,07:57:18
65672,CFS11505779,NaN,2021-10-02 08:00:24.437,2021-10-02 08:00:27,00:00:03,49.0,0.0,NaN,0.0,NaN,...,NaN,2020-12-07 07:59:38,CFS Call,At Scene,Deployement,NaN,Medium,A-28,2020-12-07,07:59:38
120057,CFS11577335,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2020-12-21 07:59:20,CFS Call,Not Available,Others,Srhc Hospital Narela,Medium,NaN,2020-12-21,07:59:20

In [320]:
merged_df[merged_df["call_time"] < six]

,EVENT_ID,DISTRICT,VEHICLE_MOVEMENT_TIME,VEHICLE_ATSCENE_TIME,RESPONSE_TIME,RESPONSE_DURATION,AMBULANCE_BASE_LOCATION,INCIDENT_LOCATION,NUM_OF_PATIENTS,PATIENT_HOSPITAL,...,HANDOVER_DURATION,CALL_TIME_y,CALL_TYPE_y,STATUS,CHIEF_COMPLAINT,HOSPITAL_NAME,PRIORITY,VEHICLE_y,call_date,call_time
759,BLK11520303,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,NaN,...,NaN,2020-12-10 00:02:22,Blank Call,Not Available,NaN,NaN,NaN,NaN,2020-12-10,00:02:22
760,WRG11520306,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,NaN,...,NaN,2020-12-10 00:02:45,Wrong Call,Not Available,NaN,NaN,NaN,NaN,2020-12-10,00:02:45
761,FUP11520309,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,NaN,...,NaN,2020-12-10 00:04:17,Follow up,Not Available,NaN,NaN,NaN,NaN,2020-12-10,00:04:17
762,FUP11520318,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,NaN,...,NaN,2020-12-10 00:06:08,Follow up,Not Available,NaN,NaN,High,NaN,2020-12-10,00:06:08
763,ENQ11520325,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,Aiims Ansari Nagar,...,NaN,2020-12-10 00:08:05,Enquiry Call,Not Available,NaN,Aiims Ansari Nagar,NaN,NaN,2020-12-10,00:08:05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65605,CFS11505536,South East,2021-10-02 06:04:32.027,2021-10-02 06:04:47,00:00:15,434.0,0.0,Nagli Rajapur,0.0,NaN,...,8856.0,2020-12-07 05:57:33,CFS Call,Hand Over,Dialysis,NaN,Emergency,S-16,2020-12-07,05:57:33
65606,CFS11505536,South East,2021-10-02 06:04:32.027,2021-10-02 06:04:47,00:00:15,434.0,0.0,Nagli Rajapur,0.0,NaN,...,8856.0,2020-12-07 05:57:33,CFS Call,Patient Not Available,Dialysis,NaN,Emergency,S-21,2020-12-07,05:57:33
65607,CFS11505537,North East,2021-10-02 06:01:45.000,2021-10-02 06:19:57,00:18:12,1316.0,0.0,Harijan Basti,0.0,NaN,...,6900.0,2020-12-07 05:58:01,CFS Call,Hand Over,Dialysis,NaN,Emergency,B-38,2020-12-07,05:58:01
65608,CFS11505538,NaN,2021-10-02 06:03:00.863,2021-10-02 06:25:37,00:22:37,1652.0,0.0,NaN,0.0,Bsa Hospital Rohini,...,7547.0,2020-12-07 05:58:05,CFS Call,Hand Over,High Grade Fever,Bsa Hospital Rohini,Low,N-30,2020-12-07,05:58:05
50069,CFS11525835,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2020-12-11 01:20:17,CFS Call,Pending,NaN,NaN,High,NaN,2020-12-11,01:20:17

In [321]:
merged_df[(merged_df["call_time"]  >= twelve) & (merged_df["call_time"]  < eigteen)]

,EVENT_ID,DISTRICT,VEHICLE_MOVEMENT_TIME,VEHICLE_ATSCENE_TIME,RESPONSE_TIME,RESPONSE_DURATION,AMBULANCE_BASE_LOCATION,INCIDENT_LOCATION,NUM_OF_PATIENTS,PATIENT_HOSPITAL,...,HANDOVER_DURATION,CALL_TIME_y,CALL_TYPE_y,STATUS,CHIEF_COMPLAINT,HOSPITAL_NAME,PRIORITY,VEHICLE_y,call_date,call_time
206,TST11516840,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,Gb Pant Hospital Delhi Gate,...,NaN,2020-12-09 12:01:08,Test Call,Not Available,Paralysis,Gb Pant Hospital Delhi Gate,High,NaN,2020-12-09,12:01:08
207,FUP11516841,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,NaN,...,NaN,2020-12-09 12:01:10,Follow up,Not Available,NaN,NaN,NaN,NaN,2020-12-09,12:01:10
208,FUP11516864,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,NaN,...,NaN,2020-12-09 12:04:56,Follow up,Not Available,No need of ambulance,NaN,Low,NaN,2020-12-09,12:04:56
209,TST11516876,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,NaN,...,NaN,2020-12-09 12:07:09,Test Call,Not Available,Others,NaN,Medium,NaN,2020-12-09,12:07:09
210,TST11516881,Central,NaT,NaT,NaN,NaN,0.0,Ln Jpn Colony,0.0,NaN,...,NaN,2020-12-09 12:08:00,Test Call,Not Available,Dialysis,NaN,Emergency,NaN,2020-12-09,12:08:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64991,CFS11503235,NaN,2021-10-01 17:59:04.210,2021-10-01 18:12:07,00:13:03,903.0,0.0,NaN,0.0,NaN,...,7161.0,2020-12-06 17:57:04,CFS Call,Hand Over,Accident RTA,NaN,High,B-45,2020-12-06,17:57:04
64992,CFS11503232,East,2021-10-01 17:59:11.830,2021-10-01 18:04:00,00:04:49,443.0,0.0,Block C,0.0,Gtb Hospital Dilshad Garden,...,9331.0,2020-12-06 17:56:37,CFS Call,Hand Over,Interhospital Transfer,Gtb Hospital Dilshad Garden,Medium,B-64,2020-12-06,17:56:37
64993,CFS11503233,East,2021-10-01 17:59:42.317,2021-10-01 18:05:09,00:05:27,493.0,0.0,Kalyan Vas,0.0,NaN,...,7573.0,2020-12-06 17:56:56,CFS Call,Hand Over,Post Delivery Drop back to at Home,NaN,Medium,E-24,2020-12-06,17:56:56
64994,CFS11503242,South East,2021-10-01 18:04:17.930,2021-10-01 18:44:32,00:40:15,2758.0,0.0,Bhogal,0.0,Pushpawati Singhania Research Institute,...,8509.0,2020-12-06 17:58:34,CFS Call,Hand Over,Others,Pushpawati Singhania Research Institute,Medium,B-25,2020-12-06,17:58:34
64995,CFS11503236,NaN,2021-10-01 18:03:56.837,2021-10-01 18:28:09,00:24:13,1864.0,0.0,NaN,0.0,NaN,...,NaN,2020-12-06 17:57:05,CFS Call,Patient Not Available,Accident RTA,NaN,High,B-36,2020-12-06,17:57:05

In [ ]:
merged_df[(merged_df["call_time"]  >= eigteen) & (merged_df["call_time"]  < twentyfour)]

,EVENT_ID,DISTRICT,VEHICLE_MOVEMENT_TIME,VEHICLE_ATSCENE_TIME,RESPONSE_TIME,RESPONSE_DURATION,AMBULANCE_BASE_LOCATION,INCIDENT_LOCATION,NUM_OF_PATIENTS,PATIENT_HOSPITAL,...,HANDOVER_DURATION,CALL_TIME_y,CALL_TYPE_y,STATUS,CHIEF_COMPLAINT,HOSPITAL_NAME,PRIORITY,VEHICLE_y,call_date,call_time
550,FUP11518708,NaN,NaT,NaT,NaN,NaN,0,NaN,0,NaN,...,NaN,2020-12-09 18:03:31,Follow up,Not Available,NaN,NaN,NaN,NaN,2020-12-09,18:03:31
551,CFS11518712,North,NaT,NaT,NaN,NaN,0,Vijay Nagar,0,Max Superspecialty Hospital Shalimar Bagh,...,NaN,2020-12-09 18:04:35,CFS Call,Delivery Pending,Breathing Difficulty,Max Superspecialty Hospital Shalimar Bagh,Low,N-23,2020-12-09,18:04:35
552,ENQ11518713,NaN,NaT,NaT,NaN,NaN,0,NaN,0,NaN,...,NaN,2020-12-09 18:05:01,Enquiry Call,Not Available,Post Delivery Drop back to at Home,NaN,Medium,NaN,2020-12-09,18:05:01
553,TST11518729,NaN,NaT,NaT,NaN,NaN,0,NaN,0,NaN,...,NaN,2020-12-09 18:07:37,Test Call,Not Available,Fracture,NaN,High,NaN,2020-12-09,18:07:37
554,DEP11518740,NaN,NaT,NaT,NaN,NaN,0,NaN,0,NaN,...,NaN,2020-12-09 18:10:42,Department Call,Not Available,NaN,NaN,Medium,NaN,2020-12-09,18:10:42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65386,CFS11504917,NaN,2021-10-01 23:59:53.587,2021-10-02 00:10:34,00:10:41,999.0,0,NaN,0,NaN,...,NaN,2020-12-06 23:53:55,CFS Call,Patient Not Available,Group Clash,NaN,Medium,B-70,2020-12-06,23:53:55
65387,CFS11504928,South,2021-10-02 00:09:37.140,2021-10-02 00:12:54,00:03:17,993.0,0,Arjun Garh,0,Safdarjang Hospital Ansari Nagar,...,5909.0,2020-12-06 23:56:21,CFS Call,Hand Over,Abdominal Pain,Safdarjang Hospital Ansari Nagar,Low,B-100,2020-12-06,23:56:21
65388,CFS11504926,South West,2021-10-02 00:09:37.040,2021-10-02 00:14:37,00:05:00,1122.0,0,Kapas Hera,0,Safdarjang Hospital Ansari Nagar,...,10128.0,2020-12-06 23:55:55,CFS Call,Hand Over,Abdominal Pain,Safdarjang Hospital Ansari Nagar,Low,W-16,2020-12-06,23:55:55
65389,CFS11504935,NaN,2021-10-02 00:09:36.913,2021-10-02 00:13:52,00:04:16,946.0,0,NaN,0,NaN,...,NaN,2020-12-06 23:58:06,CFS Call,Patient Not Available,Accident RTA,NaN,High,S-28,2020-12-06,23:58:06
65390,CFS11504927,West,2021-10-02 00:09:36.997,2021-10-02 00:28:40,00:19:04,1948.0,0,C R P F Jharoda Kalan,0,Rtr Hospital Jaffar Pur,...,7257.0,2020-12-06 23:56:12,CFS Call,Hand Over,Asthama,Rtr Hospital Jaffar Pur,Medium,B-81,2020-12-06,23:56:12

In [322]:
merged_df.loc[merged_df["call_time"] < six, "timerange"] = "less_6"

In [323]:
merged_df.head()

,EVENT_ID,DISTRICT,VEHICLE_MOVEMENT_TIME,VEHICLE_ATSCENE_TIME,RESPONSE_TIME,RESPONSE_DURATION,AMBULANCE_BASE_LOCATION,INCIDENT_LOCATION,NUM_OF_PATIENTS,PATIENT_HOSPITAL,...,CALL_TIME_y,CALL_TYPE_y,STATUS,CHIEF_COMPLAINT,HOSPITAL_NAME,PRIORITY,VEHICLE_y,call_date,call_time,timerange
0,TST11515684,South West,NaT,NaT,NaN,NaN,0.0,Palam Extn Part I,0.0,NaN,...,2020-12-09 08:01:07,Test Call,Not Available,Fracture,NaN,High,NaN,2020-12-09,08:01:07,NaN
1,TST11515692,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,NaN,...,2020-12-09 08:03:26,Test Call,Not Available,Delivery,NaN,High,NaN,2020-12-09,08:03:26,NaN
2,TST11515693,South West,NaT,NaT,NaN,NaN,0.0,Dwarka Sector 27,0.0,NaN,...,2020-12-09 08:03:31,Test Call,Not Available,Fracture,NaN,High,NaN,2020-12-09,08:03:31,NaN
3,TST11515696,North West,NaT,NaT,NaN,NaN,0.0,Kirari Extn,0.0,NaN,...,2020-12-09 08:03:47,Test Call,Not Available,Delivery,NaN,High,NaN,2020-12-09,08:03:47,NaN
4,TST11515698,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,Aiims Ansari Nagar,...,2020-12-09 08:04:15,Test Call,Not Available,Fracture,Aiims Ansari Nagar,High,NaN,2020-12-09,08:04:15,NaN

In [324]:
merged_df.loc[((merged_df["call_time"] >= six) & (merged_df["call_time"] < twelve)), "timerange"] = "6-12"

In [325]:

merged_df.loc[(merged_df["call_time"] >= twelve) & (merged_df["call_time"] < eigteen), "timerange"] = "12-18"
merged_df.loc[(merged_df["call_time"] >= eigteen) & (merged_df["call_time"] < twentyfour), "timerange"] = "18-24"

In [326]:
merged_df.head()

,EVENT_ID,DISTRICT,VEHICLE_MOVEMENT_TIME,VEHICLE_ATSCENE_TIME,RESPONSE_TIME,RESPONSE_DURATION,AMBULANCE_BASE_LOCATION,INCIDENT_LOCATION,NUM_OF_PATIENTS,PATIENT_HOSPITAL,...,CALL_TIME_y,CALL_TYPE_y,STATUS,CHIEF_COMPLAINT,HOSPITAL_NAME,PRIORITY,VEHICLE_y,call_date,call_time,timerange
0,TST11515684,South West,NaT,NaT,NaN,NaN,0.0,Palam Extn Part I,0.0,NaN,...,2020-12-09 08:01:07,Test Call,Not Available,Fracture,NaN,High,NaN,2020-12-09,08:01:07,6-12
1,TST11515692,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,NaN,...,2020-12-09 08:03:26,Test Call,Not Available,Delivery,NaN,High,NaN,2020-12-09,08:03:26,6-12
2,TST11515693,South West,NaT,NaT,NaN,NaN,0.0,Dwarka Sector 27,0.0,NaN,...,2020-12-09 08:03:31,Test Call,Not Available,Fracture,NaN,High,NaN,2020-12-09,08:03:31,6-12
3,TST11515696,North West,NaT,NaT,NaN,NaN,0.0,Kirari Extn,0.0,NaN,...,2020-12-09 08:03:47,Test Call,Not Available,Delivery,NaN,High,NaN,2020-12-09,08:03:47,6-12
4,TST11515698,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,Aiims Ansari Nagar,...,2020-12-09 08:04:15,Test Call,Not Available,Fracture,Aiims Ansari Nagar,High,NaN,2020-12-09,08:04:15,6-12

In [327]:
merged_df[["Year","mon", "day"]] = merged_df['call_date'].astype("str").str.split("-", n = 2, expand= True)

In [ ]:
merged_df.head()

,EVENT_ID,DISTRICT,VEHICLE_MOVEMENT_TIME,VEHICLE_ATSCENE_TIME,RESPONSE_TIME,RESPONSE_DURATION,AMBULANCE_BASE_LOCATION,INCIDENT_LOCATION,NUM_OF_PATIENTS,PATIENT_HOSPITAL,...,CHIEF_COMPLAINT,HOSPITAL_NAME,PRIORITY,VEHICLE_y,call_date,call_time,timerange,Year,mon,day
0,TST11515684,South West,NaT,NaT,NaN,NaN,0,Palam Extn Part I,0,NaN,...,Fracture,NaN,High,NaN,2020-12-09,08:01:07,6-12,2020,12,09
1,TST11515692,NaN,NaT,NaT,NaN,NaN,0,NaN,0,NaN,...,Delivery,NaN,High,NaN,2020-12-09,08:03:26,6-12,2020,12,09
2,TST11515693,South West,NaT,NaT,NaN,NaN,0,Dwarka Sector 27,0,NaN,...,Fracture,NaN,High,NaN,2020-12-09,08:03:31,6-12,2020,12,09
3,TST11515696,North West,NaT,NaT,NaN,NaN,0,Kirari Extn,0,NaN,...,Delivery,NaN,High,NaN,2020-12-09,08:03:47,6-12,2020,12,09
4,TST11515698,NaN,NaT,NaT,NaN,NaN,0,NaN,0,Aiims Ansari Nagar,...,Fracture,Aiims Ansari Nagar,High,NaN,2020-12-09,08:04:15,6-12,2020,12,09

In [ ]:
merged_df.head()

,EVENT_ID,DISTRICT,VEHICLE_MOVEMENT_TIME,VEHICLE_ATSCENE_TIME,RESPONSE_TIME,RESPONSE_DURATION,AMBULANCE_BASE_LOCATION,INCIDENT_LOCATION,NUM_OF_PATIENTS,PATIENT_HOSPITAL,...,VEHICLE_y,call_date,call_time,timerange,Year,mon,day,Hours,min,sec
0,TST11515684,South West,NaT,NaT,NaN,NaN,0,Palam Extn Part I,0,NaN,...,NaN,2020-12-09,08:01:07,6-12,2020,12,09,08,01,07
1,TST11515692,NaN,NaT,NaT,NaN,NaN,0,NaN,0,NaN,...,NaN,2020-12-09,08:03:26,6-12,2020,12,09,08,03,26
2,TST11515693,South West,NaT,NaT,NaN,NaN,0,Dwarka Sector 27,0,NaN,...,NaN,2020-12-09,08:03:31,6-12,2020,12,09,08,03,31
3,TST11515696,North West,NaT,NaT,NaN,NaN,0,Kirari Extn,0,NaN,...,NaN,2020-12-09,08:03:47,6-12,2020,12,09,08,03,47
4,TST11515698,NaN,NaT,NaT,NaN,NaN,0,NaN,0,Aiims Ansari Nagar,...,NaN,2020-12-09,08:04:15,6-12,2020,12,09,08,04,15

In [211]:
merged_df.isnull().sum()

EVENT_ID                       0
DISTRICT                   32467
VEHICLE_MOVEMENT_TIME      23936
VEHICLE_ATSCENE_TIME       24125
RESPONSE_TIME              24125
RESPONSE_DURATION          24125
AMBULANCE_BASE_LOCATION        0
INCIDENT_LOCATION          32483
NUM_OF_PATIENTS                0
PATIENT_HOSPITAL           37927
EMERGENCY_TYPE              9118
HANDOVER_TIME              39539
HANDOVER_DURATION          39539
CALL_TIME_y                    0
CALL_TYPE_y                    0
STATUS                         0
CHIEF_COMPLAINT             9118
HOSPITAL_NAME              37927
PRIORITY                    8277
VEHICLE_y                  23714
call_date                      0
call_time                      0
timerange                      2
Year                           0
mon                            0
day                            0
Hours                          0
min                            0
sec                            0
dtype: int64

In [328]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65675 entries, 0 to 120057
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EVENT_ID                 65675 non-null  object
 1   DISTRICT                 33206 non-null  object
 2   VEHICLE_MOVEMENT_TIME    41737 non-null  datetime64[ns]
 3   VEHICLE_ATSCENE_TIME     41548 non-null  datetime64[ns]
 4   RESPONSE_TIME            41548 non-null  object
 5   RESPONSE_DURATION        41548 non-null  float64
 6   AMBULANCE_BASE_LOCATION  65673 non-null  float64
 7   INCIDENT_LOCATION        33190 non-null  object
 8   NUM_OF_PATIENTS          65673 non-null  float64
 9   PATIENT_HOSPITAL         27746 non-null  object
 10  EMERGENCY_TYPE           56555 non-null  object
 11  HANDOVER_TIME            26134 non-null  datetime64[ns]
 12  HANDOVER_DURATION        26134 non-null  float64
 13  CALL_TIME_y              65675 non-null  datetime64[ns]
 14  CALL_TYPE_y              65675 non-null  object
 15  STATUS                   65675 non-null  object
 16  CHIEF_COMPLAINT          56556 non-null  object
 17  HOSPITAL_NAME            27747 non-null  object
 18  PRIORITY                 57398 non-null  object
 19  VEHICLE_y                41959 non-null  object
 20  call_date                65675 non-null  object
 21  call_time                65675 non-null  object
 22  timerange                65673 non-null  object
 23  Year                     65675 non-null  object
 24  mon                      65675 non-null  object
 25  day                      65675 non-null  object
dtypes: datetime64[ns](4), float64(4), object(18)
memory usage: 13.5+ MB

In [330]:
merged_df["duration_to_scene"] = merged_df["VEHICLE_ATSCENE_TIME"] - merged_df["VEHICLE_MOVEMENT_TIME"]

In [331]:
merged_df.head()

,EVENT_ID,DISTRICT,VEHICLE_MOVEMENT_TIME,VEHICLE_ATSCENE_TIME,RESPONSE_TIME,RESPONSE_DURATION,AMBULANCE_BASE_LOCATION,INCIDENT_LOCATION,NUM_OF_PATIENTS,PATIENT_HOSPITAL,...,HOSPITAL_NAME,PRIORITY,VEHICLE_y,call_date,call_time,timerange,Year,mon,day,duration_to_scene
0,TST11515684,South West,NaT,NaT,NaN,NaN,0.0,Palam Extn Part I,0.0,NaN,...,NaN,High,NaN,2020-12-09,08:01:07,6-12,2020,12,09,NaT
1,TST11515692,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,NaN,...,NaN,High,NaN,2020-12-09,08:03:26,6-12,2020,12,09,NaT
2,TST11515693,South West,NaT,NaT,NaN,NaN,0.0,Dwarka Sector 27,0.0,NaN,...,NaN,High,NaN,2020-12-09,08:03:31,6-12,2020,12,09,NaT
3,TST11515696,North West,NaT,NaT,NaN,NaN,0.0,Kirari Extn,0.0,NaN,...,NaN,High,NaN,2020-12-09,08:03:47,6-12,2020,12,09,NaT
4,TST11515698,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,Aiims Ansari Nagar,...,Aiims Ansari Nagar,High,NaN,2020-12-09,08:04:15,6-12,2020,12,09,NaT

In [343]:
merged_df[["Hours","min", "sec"]] = merged_df['call_time'].astype("str").str.split(":", n = 2, expand= True)

In [344]:
merged_df.head()

,EVENT_ID,DISTRICT,VEHICLE_MOVEMENT_TIME,VEHICLE_ATSCENE_TIME,RESPONSE_TIME,RESPONSE_DURATION,AMBULANCE_BASE_LOCATION,INCIDENT_LOCATION,NUM_OF_PATIENTS,PATIENT_HOSPITAL,...,timerange,Year,mon,day,duration_to_scene,dr_day,dr_time,Hours,min,sec
0,TST11515684,South West,NaT,NaT,NaN,NaN,0.0,Palam Extn Part I,0.0,NaN,...,6-12,2020,12,09,NaT,NaT,None,08,01,07
1,TST11515692,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,NaN,...,6-12,2020,12,09,NaT,NaT,None,08,03,26
2,TST11515693,South West,NaT,NaT,NaN,NaN,0.0,Dwarka Sector 27,0.0,NaN,...,6-12,2020,12,09,NaT,NaT,None,08,03,31
3,TST11515696,North West,NaT,NaT,NaN,NaN,0.0,Kirari Extn,0.0,NaN,...,6-12,2020,12,09,NaT,NaT,None,08,03,47
4,TST11515698,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,Aiims Ansari Nagar,...,6-12,2020,12,09,NaT,NaT,None,08,04,15

In [346]:
merged_df[["dr_day", "temp", "dr_time" ]] = merged_df["duration_to_scene"].astype('str').str.split(" ", expand = True)

array(['NaT', '0'], dtype=object)

In [352]:
merged_df.drop(columns = ["temp", "dr_day"], inplace = True)

In [ ]:
#merged_df[["handDate", "handTime"]] = merged_df["HANDOVER_TIME"].astype('str').str.split(" ", expand = True)

In [225]:
#merged_df[['move_date',"move_time"]] = merged_df["VEHICLE_MOVEMENT_TIME"].astype('str').str.split(' ', expand=True)

In [226]:
#merged_df[["atscene_date", "atscene_time"]] = merged_df["VEHICLE_ATSCENE_TIME"].astype('str').str.split(' ', expand = True)

In [353]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65675 entries, 0 to 120057
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EVENT_ID                 65675 non-null  object
 1   DISTRICT                 33206 non-null  object
 2   VEHICLE_MOVEMENT_TIME    41737 non-null  datetime64[ns]
 3   VEHICLE_ATSCENE_TIME     41548 non-null  datetime64[ns]
 4   RESPONSE_TIME            41548 non-null  object
 5   RESPONSE_DURATION        41548 non-null  float64
 6   AMBULANCE_BASE_LOCATION  65673 non-null  float64
 7   INCIDENT_LOCATION        33190 non-null  object
 8   NUM_OF_PATIENTS          65673 non-null  float64
 9   PATIENT_HOSPITAL         27746 non-null  object
 10  EMERGENCY_TYPE           56555 non-null  object
 11  HANDOVER_TIME            26134 non-null  datetime64[ns]
 12  HANDOVER_DURATION        26134 non-null  float64
 13  CALL_TIME_y              65675 non-null  datetime64[ns]
 14  CALL_TYPE_y              65675 non-null  object
 15  STATUS                   65675 non-null  object
 16  CHIEF_COMPLAINT          56556 non-null  object
 17  HOSPITAL_NAME            27747 non-null  object
 18  PRIORITY                 57398 non-null  object
 19  VEHICLE_y                41959 non-null  object
 20  call_date                65675 non-null  object
 21  call_time                65675 non-null  object
 22  timerange                65673 non-null  object
 23  Year                     65675 non-null  object
 24  mon                      65675 non-null  object
 25  day                      65675 non-null  object
 26  duration_to_scene        41548 non-null  timedelta64[ns]
 27  dr_time                  41548 non-null  object
 28  Hours                    65675 non-null  object
 29  min                      65675 non-null  object
 30  sec                      65675 non-null  object
dtypes: datetime64[ns](4), float64(4), object(22), timedelta64[ns](1)
memory usage: 16.0+ MB

In [356]:
merged_df.drop(columns=["VEHICLE_MOVEMENT_TIME", "VEHICLE_ATSCENE_TIME", "CALL_TIME_y", "HANDOVER_TIME", "RESPONSE_TIME", "duration_to_scene", 
"call_time", "CALL_TIME_y"])

,EVENT_ID,DISTRICT,RESPONSE_DURATION,AMBULANCE_BASE_LOCATION,INCIDENT_LOCATION,NUM_OF_PATIENTS,PATIENT_HOSPITAL,EMERGENCY_TYPE,HANDOVER_DURATION,CALL_TYPE_y,...,VEHICLE_y,call_date,timerange,Year,mon,day,dr_time,Hours,min,sec
0,TST11515684,South West,NaN,0.0,Palam Extn Part I,0.0,NaN,Fracture,NaN,Test Call,...,NaN,2020-12-09,6-12,2020,12,09,None,08,01,07
1,TST11515692,NaN,NaN,0.0,NaN,0.0,NaN,Delivery,NaN,Test Call,...,NaN,2020-12-09,6-12,2020,12,09,None,08,03,26
2,TST11515693,South West,NaN,0.0,Dwarka Sector 27,0.0,NaN,Fracture,NaN,Test Call,...,NaN,2020-12-09,6-12,2020,12,09,None,08,03,31
3,TST11515696,North West,NaN,0.0,Kirari Extn,0.0,NaN,Delivery,NaN,Test Call,...,NaN,2020-12-09,6-12,2020,12,09,None,08,03,47
4,TST11515698,NaN,NaN,0.0,NaN,0.0,Aiims Ansari Nagar,Fracture,NaN,Test Call,...,NaN,2020-12-09,6-12,2020,12,09,None,08,04,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65670,CFS11505778,NaN,1785.0,0.0,NaN,0.0,NaN,Deployement,NaN,CFS Call,...,A-22,2020-12-07,6-12,2020,12,07,00:28:48.797000,07,58,56
65671,CFS11505773,Shahdara,1416.0,0.0,Pocket A,0.0,NaN,Others,NaN,CFS Call,...,S-5,2020-12-07,6-12,2020,12,07,00:19:37.410000,07,57,18
65672,CFS11505779,NaN,49.0,0.0,NaN,0.0,NaN,Deployement,NaN,CFS Call,...,A-28,2020-12-07,6-12,2020,12,07,00:00:02.563000,07,59,38
50069,CFS11525835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CFS Call,...,NaN,2020-12-11,less_6,2020,12,11,None,01,20,17
120057,CFS11577335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CFS Call,...,NaN,2020-12-21,6-12,2020,12,21,None,07,59,20

In [345]:
merged_df.head()

,EVENT_ID,DISTRICT,VEHICLE_MOVEMENT_TIME,VEHICLE_ATSCENE_TIME,RESPONSE_TIME,RESPONSE_DURATION,AMBULANCE_BASE_LOCATION,INCIDENT_LOCATION,NUM_OF_PATIENTS,PATIENT_HOSPITAL,...,timerange,Year,mon,day,duration_to_scene,dr_day,dr_time,Hours,min,sec
0,TST11515684,South West,NaT,NaT,NaN,NaN,0.0,Palam Extn Part I,0.0,NaN,...,6-12,2020,12,09,NaT,NaT,None,08,01,07
1,TST11515692,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,NaN,...,6-12,2020,12,09,NaT,NaT,None,08,03,26
2,TST11515693,South West,NaT,NaT,NaN,NaN,0.0,Dwarka Sector 27,0.0,NaN,...,6-12,2020,12,09,NaT,NaT,None,08,03,31
3,TST11515696,North West,NaT,NaT,NaN,NaN,0.0,Kirari Extn,0.0,NaN,...,6-12,2020,12,09,NaT,NaT,None,08,03,47
4,TST11515698,NaN,NaT,NaT,NaN,NaN,0.0,NaN,0.0,Aiims Ansari Nagar,...,6-12,2020,12,09,NaT,NaT,None,08,04,15

In [ ]:
#merged_df.drop(columns = ["CALL_TIME_y", "call_date", "call_time"], inplace = True)

In [228]:
#merged_df.drop(columns=["move_date", "atscene_date"], inplace=True)

In [229]:
merged_df.head()

,EVENT_ID,DISTRICT,VEHICLE_MOVEMENT_TIME,VEHICLE_ATSCENE_TIME,RESPONSE_TIME,RESPONSE_DURATION,AMBULANCE_BASE_LOCATION,INCIDENT_LOCATION,NUM_OF_PATIENTS,PATIENT_HOSPITAL,...,call_time,timerange,Year,mon,day,Hours,min,sec,atscene_time,move_time
0,TST11515684,South West,NaT,NaT,NaN,NaN,0,Palam Extn Part I,0,NaN,...,08:01:07,6-12,2020,12,09,08,01,07,None,None
1,TST11515692,NaN,NaT,NaT,NaN,NaN,0,NaN,0,NaN,...,08:03:26,6-12,2020,12,09,08,03,26,None,None
2,TST11515693,South West,NaT,NaT,NaN,NaN,0,Dwarka Sector 27,0,NaN,...,08:03:31,6-12,2020,12,09,08,03,31,None,None
3,TST11515696,North West,NaT,NaT,NaN,NaN,0,Kirari Extn,0,NaN,...,08:03:47,6-12,2020,12,09,08,03,47,None,None
4,TST11515698,NaN,NaT,NaT,NaN,NaN,0,NaN,0,Aiims Ansari Nagar,...,08:04:15,6-12,2020,12,09,08,04,15,None,None

In [231]:
#merged_df.drop(columns = ["VEHICLE_MOVEMENT_TIME", "VEHICLE_ATSCENE_TIME"], inplace = True)

In [232]:
merged_df["RESPONSE_TIME"]

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
65668    00:00:17
65669    00:00:21
65670    00:28:49
65671    00:19:38
65672    00:00:03
Name: RESPONSE_TIME, Length: 65673, dtype: object

In [215]:
cat_variables = [feature for feature in x.columns if x[feature].dtype == "O"]

In [216]:
for feature in cat_variables:
    cat_freq = x.groupby(feature).size()/len(data)
    x[feature] = x[feature].map(cat_freq)
x.head()

,DISTRICT,VEHICLE_MOVEMENT_TIME,VEHICLE_ATSCENE_TIME,RESPONSE_TIME,RESPONSE_DURATION,AMBULANCE_BASE_LOCATION,INCIDENT_LOCATION,NUM_OF_PATIENTS,PATIENT_HOSPITAL,EMERGENCY_TYPE,...,CALL_TYPE_y,STATUS,CHIEF_COMPLAINT,HOSPITAL_NAME,VEHICLE_y,date,time,timerange,Year,mon_day
0,0.025794,NaT,NaT,0.36737,1082.0,0.0,0.000274,0.0,0.577526,0.064591,...,0.200167,0.360807,0.064591,0.577510,0.361112,2020-12-09,0.000046,0.280167,0.833407,0.038356
1,0.494389,NaT,NaT,0.36737,1082.0,0.0,0.494633,0.0,0.577526,0.080152,...,0.200167,0.360807,0.080152,0.577510,0.361112,2020-12-09,0.000046,0.280167,0.833407,0.038356
2,0.025794,NaT,NaT,0.36737,1082.0,0.0,0.001249,0.0,0.577526,0.064591,...,0.200167,0.360807,0.064591,0.577510,0.361112,2020-12-09,0.000030,0.280167,0.833407,0.038356
3,0.076254,NaT,NaT,0.36737,1082.0,0.0,0.000579,0.0,0.577526,0.080152,...,0.200167,0.360807,0.080152,0.577510,0.361112,2020-12-09,0.000030,0.280167,0.833407,0.038356
4,0.494389,NaT,NaT,0.36737,1082.0,0.0,0.494633,0.0,0.014952,0.064591,...,0.200167,0.360807,0.064591,0.014952,0.361112,2020-12-09,0.000015,0.280167,0.833407,0.038356